body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

nav {
  background-color: navy;
  color: white;
  height: 10vh;
  width: 100vw;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2%;
}

nav a {
  color: gray;
  text-decoration: none;
}

nav a:hover {
  color: rgb(72, 154, 72);
}

#aboutInfo {
  padding: 1rem;
  margin: 1rem;
}

#stockList {
  text-align: center;
  list-style-type: none;
  line-height: 2em;
}